@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Parkinsans";
    src: url("/fonts/Parkinsans.woff2") format("woff2"); /* Adjust path and format as needed */
    font-weight: 300 800;
    font-style: normal;
  }
  
  /* You can set it as the default font for the entire app */
  body {
    font-family: "Parkinsans", sans-serif;
  }